<div>
    <span class="p-title">{{fa-icon "info-circle" fixedWidth=true}} UPS Shipping Information</span>
</div>

{{#if block.data.details.weight}}
      <div>
          {{fa-icon "archive"}}<span class="p-key"> Package Weight: </span>
          <span class="p-value">{{block.data.details.weight}}</span>
      </div>
{{/if}}

{{#if block.data.details.location}}
        <div>
            {{fa-icon "globe"}}<span class="p-key"> Package Current Location: </span>
            <span class="p-value">{{block.data.details.location}}</span>
        </div>
{{/if}}

{{#if block.data.details.date}}
        <div>
            {{fa-icon "globe"}}<span class="p-key"> Last Scan Date: </span>
            <span class="p-value">{{block.data.details.date}}</span>
        </div>
{{/if}}
